<%- include('partials/_header') %>
    <!-- Navigation-->
    <%- include('partials/_navbar') %>

    <!-- Masthead-->
    <header class="masthead">
      <div class="container">
        <div class="masthead-subheading">Welcome To Our Studio!</div>
        <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services"
          >Tell Me More</a
        >
      </div>
    </header>
    <!-- Services-->
   
    <!-- Portfolio Grid-->
  
    <!-- About-->
    
    <!-- Team-->
   
    <!-- Clients-->

    <div class="text-center mt-4"> <h1 class="text-light">Our Clients</h1></div>
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"
              ><img
                class="img-fluid img-brand d-block mx-auto"
                src="assets/img/logos/microsoft.svg"
                alt="..."
                aria-label="Microsoft Logo"
            /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"
              ><img
                class="img-fluid img-brand d-block mx-auto"
                src="assets/img/logos/google.svg"
                alt="..."
                aria-label="Google Logo"
            /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"
              ><img
                class="img-fluid img-brand d-block mx-auto"
                src="assets/img/logos/facebook.svg"
                alt="..."
                aria-label="Facebook Logo"
            /></a>
          </div>
          <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"
              ><img
                class="img-fluid img-brand d-block mx-auto"
                src="assets/img/logos/ibm.svg"
                alt="..."
                aria-label="IBM Logo"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact-->
 
    <!-- Footer-->
  
   
<%- include('partials/_footer') %>