* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 252, 213);
}

h1 {
    font-family: 'Dancing Script', cursive;

    color: rgb(255, 0, 0);
}


.section-center {
    margin: 0 auto;
    font-family: 'Gideon Roman', cursive;
    max-width: fit-content;
}


.img {
    max-height: 154.8px;
    /* width: 20vw; */



}

.name-price {
    border-bottom: 1px solid darkgray
}