.App {
  text-align: center;
  min-height: 100vh;
}

.logo {
  width: 15vw
}

.card {
  display: flex;
}

.card div {
  display: inline-block;
  margin: 2rem 0;
  width: 20vw;
  justify-items: center;
  align-items: center;

}

@media only screen and (max-width: 1200px) {
  .card div {
    width: 40vw;
  }
}


@media only screen and (max-width: 750px) {
  .logo {
    width: 50vw;
  }

  .card {
    display: flex;
    width: 90vw;
  }

  .card div {
    display: inline-block;
    justify-items: center;
    min-height: 10vw;
    height: 100%;
    width: 100%;
  }
}