* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: "Merriweather", serif;
  background-image: url("https://images.unsplash.com/photo-1573598702727-fd880833105d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #11324d;
  height: 9vh;
}

header h1 {
  color: #cfcece;
  cursor: pointer;
}

.new form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem auto;
  width: 40vw;
}

.new form textarea,
.new form input {
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.36em 0.5em;
  color: #cfcece;
  background-color: #11324d;
  opacity: 83%;
  border: 1px solid #8b8a8b;
  border-radius: 4px;
  margin-top: 0.4rem;
  width: 40vw;
  margin-bottom: 0.51rem;
}

.new form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.new .addNote {
  margin: auto 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}

.new .addNote ion-icon {
  pointer-events: none;
}

.notes {
  letter-spacing: 0.14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90vw;
  margin: 0 auto;
  color: #cfcece;
}

.notes .card {
  width: 25vw;
  border: none;
  background-color: #5584ac;
  border-radius: 5px;
  opacity: 80%;
  margin: 2rem auto;
  min-height: 30vh;
}

.notes .card .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes .card .actions ion-icon {
  cursor: pointer;
  font-size: 2rem;
}

.notes .card .card-header {
  display: block;
  border-bottom: 1px solid #11324d;
}

.notes .card .card-header small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: x-small;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.notes .card .card-content {
  padding: 2rem;
  word-break: break-all;
  text-align: left;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #11324d;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
}

footer h2 {
  color: #cfcece;
}
/*# sourceMappingURL=app.css.map */